@media screen and (max-width: 670px) {
    .title-page, .button_back, .modal-title {
        font-size: 5.5vw;
    }

    .breadcrumb-item {
        font-size: 4vw;
    }
    
    .form__radio--group {
        width: 100%; 
    }
    .form__radio--group:not(:last-child) {
        margin-bottom: 3rem; 
    } 

    #bannerSlide .carousel-inner img {
        height: 35vh;
    }

    #content {
      background-position: 0% 65%, 100% 30%;
      background-size: 15% 32%, 15% 30%;
    }

    .content-cart {
      background-position: 0% 65%, 100% 70% !important;
      background-size: 30% 62%, 30% 60% !important;
    }

    #content .button_add_to_cart {
        width: 50px;
    }

    #content .banner_header {
        width: 375px; 
        height: 100px;
    }

    #content .button_success_block, .button_add_to_cart, .button-pesan, .button_order {
        font-size: 12px;
        padding: 6px 0;
    }

    p, li {
        font-size: 12px !important;
    }

    .product-name, th {
        font-size: 14px;
    }

    #content .embed-responsive {
        height: 20vh !important;
    }

    .product-price, .product-description {
        font-size: 12px !important;
        padding-top: 4px;
        /*width: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;*/
    }

    .product-price-header {
        font-size: 10px !important;
        width: 100px;
        overflow: hidden;
        word-wrap: break-word;
        font-weight: bolder !important;
        /*text-overflow: ellipsis;*/
    }

    #content .button_filter {
        padding: 5px 5px;
        width: 100px;
        font-size: 2.5vw !important;
    }

    #content .button_plus, #content .button_minus {
        font-size: 2.5vw !important;
        width: 20px; 
        height: 33px;
        /*padding: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;*/
        /*line-height: 18px !important;*/
        /*margin-top: 4%;*/
    }

    #content .button_minus+span {
        font-size: 3vw;
        margin: 0 !important;
    }

    #content .total-bottom-fixed {
        bottom: 2.5rem; 
    }

    #shoppingCart .img-product img {
        width: 100%;
    } 

    footer.footer .cart .count-cart-one {
        right: 10px;
        top: 2px;
        font-size: 12px !important;
    }
      
    footer.footer .cart .count-cart-two {
        right: 7px;
        top: 2px;
        font-size: 12px !important;
    }
      
    footer.footer .cart .count-cart-three {
        right: 11px;
        top: 2px;
        font-size: 12px !important;
    }

    #nmprd {
        font-size: 10px !important;
        border-top-right-radius: 20px !important;
        border-top-left-radius: 20px !important;
        padding: 5px !important;
    }

    #content .label-harga {
      font-size: 15px !important;
      font-weight: bolder !important;
      text-align: left;
    }    

    #content .item_product{
      width:100% !important; 
      border-radius:25px !important;
    }  

    #content .title-page {
        font-size: 15px !important;
    }

    #bottom-footer{
      background: #41B1CD;
      height:120px;
      text-align: center;
    }

    #content .button-cart {
      width: 100%; 
      padding: 5px; 
      padding-bottom: 10px;
      /*margin-left: 20px;*/
    }

    #content .teks-footer {
        font-size: 12px;
    }

    #content .img-troli {
        width: 20px;
    }

    #content .label-harga2 {
      font-size: 12px !important;
      font-weight: 800 !important;
      text-align: left !important;
    }

    #content .product-price-header2 {
      float: left;
      font-size: 10px;
    }

    #content .button_detail {
      margin: 0px;
      padding: 7px 10px;
      width: 50px;
      font-size: 10px;
      background-color: #06B89B !important;
    }

    .img-banner {
      position: absolute;
      top: 50%;
      left: 17%;
      transform: translate(-50%, -50%);
    }

    .txt-banner {
      position: absolute;
      top: 70%;
      left: 40%;
      right: 5%;
      transform: translate(-10%, -80%);
      font-size: 8vw !important;
      padding: 5px !important;
    }

    .txt-banner2 {
      position: absolute;
      top: 20%;
      left: 40%;
      right: 10%;
      transform: translate(-30%, -80%);
      font-size: 15px !important;
    }

    .detail {
      margin-left: 110px;
    }

    .dtl_img{
      height:300px; 
      width: 300px;
    }

    .img-prd{
      width: 100px !important;
    }

    .footer_text {
      font-size: 9px !important;
    }

    .logo-claris{
      width: 50px !important;
      height: 30px !important;
    }

    .filter_category {
      background-color: #fff !important;
      color: #000;
      border-radius: 100px;
      font-size: 2.5vw;
    }

    .font_category {
      font-size: 2.5vw;
    }

    #content .button_eye {
      width: 15px; 
      height: 15px;
      color: #000;
      opacity: 0.3;
    }

    .title-dtl{
      font-size: 2.5vw !important;
    }

    .column-left {
      float: left;
    }

    .column-right {
      float: right;
      text-align: right;
    }

    .img-icon {
      width: 10px !important;
    }

    .view-cart {
      padding-left: 20px; 
      padding-top: 1rem !important; 
      padding-bottom: 5px !important;
    }

    .view-pesanwa {
      padding-left: 15px;
      padding-right: 15px;
    }

    .button_whatsapp {
      padding: 7px;
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .top-banner {
      width:100%; 
      background-color: #fff; 
      font-size: 15px;
      padding: 10px;
    }

    .cr {
      width: 50px;
      padding: 1px;
      position: absolute;
      text-align: center;
      color: #ec0;
      font-weight: bold;
      text-transform: uppercase;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      width: 225px;
      display: block;
      /*background: linear-gradient(#F79E05 0%, #8F5408 100%);*/
      box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 1);
      position: absolute;
      font-size: 2.5vw;
    }

    .cr-top    { top: 25px; }
    .cr-bottom { bottom: 25px; }
    .cr-left   { left: -50px; }
    .cr-right  { right: -80px; }

    /* Rotations */

    .cr-top.cr-left,
    .cr-bottom.cr-right {
      transform: rotate(-45deg);
    }

    .cr-top.cr-right,
    .cr-bottom.cr-left {
      transform: rotate(45deg);
    }

    /* Colors */

    .cr-white     { background-color: #f0f0f0; color: #444; }
    .cr-black     { background-color: #333; }
    .cr-grey      { background-color: #999; }
    .cr-blue      { background-color: #39d; }
    .cr-green     { background-color: #2c7; }
    .cr-turquoise { background-color: #1b9; }
    .cr-purple    { background-color: #95b; }
    .cr-red       { background-color: #e43; }
    .cr-orange    { background-color: #e82; }
    .cr-yellow    { background-color: #ec0; }

    #content .button-color {
      border-radius: 25px;
      background-color: #E9EBEB;
      font-size: 2.5vw;
    }

    #content .button-size {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      background-color: #E9EBEB;
      font-size: 2.5vw;
    }

    .ic_color{
      /*padding: 5px !important; */
      padding: 5px !important; 
      text-align: center;
    }

    .box-color {
      border-radius: 10px; 
      /*background-color: #D3D3D3;*/
      /*padding-left: none;*/
    }
    .qty-color {
      color: #000 !important; 
      font-weight: bold; 
      text-align: center; 
      /*font-size: 12px; */
      background-color: #D3D3D3; 
/*      border: none;*/
      width: 20px; 
      height: 33px;
      font-size: 2.5vw !important;
    }

    .view-color {
      padding-left: 10px; 
      padding-top: 1rem !important; 
      padding-bottom: 5px !important;
    }

    .input-group{
      padding: 5px;
    }
}